<div class="page-header">
  <h3>Bookmark #<%= @bookmark.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Box</dt>
      <dd>
        <% if @bookmark.box.present? %>
          <a href="/boxes/<%= @bookmark.box_id %>">
            <%= @bookmark.box.city_id %>
          </a>
        <% end %>
      </dd>

      <dt>Food option</dt>
      <dd>
        <% if @bookmark.food_option.present? %>
          <a href="/food_options/<%= @bookmark.food_option_id %>">
            <%= @bookmark.food_option.city_id %>
          </a>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @bookmark.user.present? %>
          <a href="/users/<%= @bookmark.user_id %>">
            <%= @bookmark.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bookmarks" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @bookmark.user %>
        <a href="/bookmarks/<%= @bookmark.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_bookmark/<%= @bookmark.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
