<div class="page-header">
  <h3>Comment #<%= @comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @comment.user.present? %>
          <a href="/users/<%= @comment.user_id %>">
            <%= @comment.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Box</dt>
      <dd>
        <% if @comment.box.present? %>
          <a href="/boxes/<%= @comment.box_id %>">
            <%= @comment.box.city_id %>
          </a>
        <% end %>
      </dd>

      <dt>Food option</dt>
      <dd>
        <% if @comment.food_option.present? %>
          <a href="/food_options/<%= @comment.food_option_id %>">
            <%= @comment.food_option.city_id %>
          </a>
        <% end %>
      </dd>

      <dt>Body</dt>
      <dd><%= @comment.body %></dd>

      <dt>Datetime</dt>
      <dd><%= @comment.datetime %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/comments" class="btn btn-primary">
        Back
      </a>
      <a href="/comments/<%= @comment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_comment/<%= @comment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
