<!-- Validation failure messages -->
<% if @food_option.errors.any? %>
  <% @food_option.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Food Option #<%= @food_option.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_food_option/<%= @food_option.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for city_id -->
      <div class="form-group">
        <label for="city_id" class="control-label">
          City
        </label>

        <%= select_tag(:city_id, options_from_collection_for_select(City.all, :id, :created_at, @food_option.city_id), :class => "form-control") %>
      </div>

      <!-- Label and input for details -->
      <div class="form-group">
        <label for="details" class="control-label">
          Details
        </label>

        <textarea id="details" name="details" placeholder="Details" class="form-control" rows="3"><%= @food_option.details %></textarea>
      </div>

      <button class="btn btn-warning">
        Update Food Option
      </button>
      or
      <a href="/food_options/<%= @food_option.id %>">Cancel</a>
    </form>
  </div>
</div>
