<div class="page-header">
  <h3>Food Option #<%= @food_option.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>City</dt>
      <dd><%= @food_option.city_id %></dd>

      <dt>Details</dt>
      <dd><%= @food_option.details %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/food_options" class="btn btn-primary">
        Back
      </a>
      <a href="/food_options/<%= @food_option.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_food_option/<%= @food_option.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
