<!-- Validation failure messages -->
<% if @box.errors.any? %>
  <% @box.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Box #<%= @box.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_box/<%= @box.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for city_id -->
      <div class="form-group">
        <label for="city_id" class="control-label">
          City
        </label>

        <%= select_tag(:city_id, options_from_collection_for_select(City.all, :id, :name, @box.city_id), :class => "form-control") %>
      </div>

      <!-- Label and input for details -->
      <div class="form-group">
        <label for="details" class="control-label">
          Details
        </label>

        <textarea id="details" name="details" placeholder="Details" class="form-control" rows="3"><%= @box.details %></textarea>
      </div>

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @box.name %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @box.address %>">
      </div>

      <button class="btn btn-warning">
        Update Box
      </button>
      or
      <a href="/boxes/<%= @box.id %>">Cancel</a>
    </form>
  </div>
</div>
